<!-- HEADER -->
<div class="quiz-header">
  <img src="https://www.oppia.org/build/assets/images/logo/288x128_logo_white.80dd4d21161938beda1b9f44ee840ac5.png">
</div>

<!-- INTRO -->
<div *ngIf="!started && !completed" class="intro-wrapper">
  <h1>Learner Diagnostic Test</h1>

  <div class="intro-card">
    <img class="otter"
      src="https://storage.googleapis.com/oppiaserver-static/copyrighted-images/avatar/oppia_avatar_100px.svg">

    <p>
      Answer a few questions to help us recommend the best topic for you.
    </p>

    <button class="primary-btn" (click)="startTest()">
      START THE TEST
    </button>
  </div>
</div>

<!-- QUESTIONS -->
<div *ngIf="started && !completed" class="question-wrapper">

  <div class="progress-card">
    <div class="progress-bar">
      <div class="progress-fill" [style.width.%]="progress()"></div>
    </div>
    <span>Current Progress: {{ progress() }}%</span>
  </div>

  <div class="question-card">
    <img class="otter small"
      src="https://storage.googleapis.com/oppiaserver-static/copyrighted-images/avatar/oppia_avatar_100px.svg">

    <p class="question">
      {{ questions[index].question }}
    </p>

    <div class="options">
      <label *ngFor="let opt of questions[index].options">
        <input type="radio" name="opt" [value]="opt" [(ngModel)]="selected">
        {{ opt }}
      </label>
    </div>

    <div class="actions">
      <button class="ghost-btn" (click)="submit()">I DON’T KNOW</button>
      <button class="primary-btn" (click)="submit()">SUBMIT</button>
    </div>
  </div>
</div>

<!-- RESULT -->
<div *ngIf="completed" class="result-wrapper">

  <h1>Test complete. Well done!</h1>
  <p>We recommend starting with this topic:</p>

  <div class="course-card">
    <img src="https://storage.googleapis.com/oppiaserver-resources/topic/0abdeaJhmfPm/assets/thumbnail/img_20200720_234330_i2772bbyma_height_432_width_576.svg" alt="">
    <h3>{{ recommendedCourse.title }}</h3>
    <span>{{ recommendedCourse.lessons }}</span>
  </div>

  <div class="action-buttons">
    <button class="primary-btn" (click)="startRecommended()">
      START COURSE
    </button>

    <button class="secondary-btn" (click)="downloadCertificate()">
      DOWNLOAD CERTIFICATE
    </button>
  </div>
</div>

<!-- CERTIFICATE -->
<div #certificateEl class="certificate" style="display:none">
  <div class="certificate-border">
    <h1>Certificate of Completion</h1>
    <p>This certificate is proudly presented for completing the</p>
    <h2>{{ subject | titlecase }} Diagnostic Test</h2>
  </div>
</div>
